

/*
Sitio - Genéricos
---------------------------------------->*/
.fullTitle { display:block; background-color:#F5F5F5; color:#888; padding:20px 0; margin:0 0 20px 0; font-size:2.4rem; font-weight:bold; }
.fullTitle > * { width: 1000px; margin:0 auto; }

.section { display:block; overflow:auto; padding:30px 0; }
.section.type2 { background-color:#F8F8F8; border-top:1px solid #DDD; border-bottom:1px solid #DDD; }
.map img { max-width:100%; }
.socialshare { font-size:1.8rem; }
/* Modo celular */
@media only screen and (max-width:767px) {
	.section { padding:10px 0; }
}
/* Modo tablet */
@media only screen and (min-width:768px) and (max-width:1024px) {
	.section { padding:10px 0; }
}


/*
SideBar
---------------------------------------->*/
.sb_mod { margin-bottom:20px; font-size:1.3rem; }
.sb_mod .title { position:relative; margin-bottom:10px; padding:10px; background-color:#161616; color:#FFF; text-transform:uppercase; letter-spacing:2px; text-align:center; font-family:"Montserrat", sans-serif; }
.sb_mod .title:after { top:100%; left:50%; border:solid transparent; content:" "; height:0; width:0; position:absolute; pointer-events:none; }
.sb_mod .title:after { border-color:rgba(22, 22, 22, 0); border-top-color:#161616; border-width:5px; margin-left:-5px; }
.sb_mod .text { padding:5px; }
.sb_mod .links a { display:block; padding:10px 15px; background-color:#F5F5F5;}
.sb_mod .links a:hover { background-color:#DDD; }
.sb_mod li { list-style-type:circle; color:#C90; margin-left:20px; }
.sb_mod a { color:#003063; }
.sb_mod img {text-align:center; }
/* Tabs */
.sb_mod .tabs {}
.sb_mod .tabs > div { float:left; position:relative; padding:4px 10px 4px 10px; margin-right:2px; top:1px; cursor:pointer; font-weight:bold; background-color:#007c07; color:#DDD; border:1px solid #333; border-bottom:none; text-shadow:0 -1px 0 #3e0000; }
.sb_mod .tabs > div.selected { background-color:#F5F5F5; color:#68e355; border:1px solid #F0F0F0; border-bottom:1px solid #b1a37e; text-shadow:0 -1px 0 #c4bca8; }
.sb_mod .contents { clear:both; border:1px solid #F0F0F0; background-color:#F5F5F5; }
.sb_mod .contents > div { margin:5px; }
/*
Ventana
---------------------------------------->*/
#aj_bkg { position:fixed; display:table; z-index:2000; width:100%; height:100%; margin:0; border:0; top:0; left:0; visibility:hidden; overflow:hidden; background-color:rgba(0, 0, 0, 0.4); }
#aj_mid { position:static; display:table-cell; vertical-align:middle; width:100%; height:100%; }
#aj_cont { position:relative; display:block; background-color:#FFF; margin:auto; border:2px solid black; border-radius:5px; min-height:200px; }
#aj_cont .wTitle { position:static; display:block; font-weight:bold; padding:10px; background:#EC7600; color:#FFF; }
#aj_cont .wContent { position:absolute; display:block; padding:10px; overflow-y:auto; box-sizing:border-box; width:100%; height:340px; height:-moz-calc(100% - 55px); height:-webkit-calc(100% - 55px); height:calc(100% - 55px); }
/* Frame - Casos especiales */
#aj_cont #nMessage { height:100px; width:100%; }
#aj_cont.objNew { width:450px; height:280px; }
#aj_cont.fReq { width:400px; }
#aj_cont.msgN { width:400px; }
#aj_cont.teamPlay { width:400px; height:600px; }
#aj_cont.review { width:600px; height:550px; }
#aj_cont.sell { width:450px; height:300px; }
#aj_cont.fotoWin { margin:0 auto; min-height:600px; width:980px; }
#aj_cont.form { width:800px; height:400px; height:-moz-calc(100% - 60px); height:-webkit-calc(100% - 60px); height:calc(100% - 60px); }
#ulogin { display:none; }
/* Slider */
.floatWindow { display:block; position:relative; padding:5px; border:2px #000 solid; border-radius:2px; background:#FFF; min-height:50px; min-width:150px; }
/*
Container
---------------------------------------->*/
.adv_text { text-align:justify; line-height:1.8em; }
.adv_text img { display:block; clear:both; float:none; width:100%; height:auto; }
.adv_text img.gOIB { margin:0 0 10px 0; }
.adv_text img.gOIC { margin:0 auto 10px auto; }
.adv_text img.gOIL { margin:0 10px 10px 0; float:left; }
.adv_text img.gOIR { margin:0 0 10px 10px; float:right; }
.adv_text ol, .adv_text ul { padding-left:1.5em; }
.adv_text p { margin-bottom:1em; margin-top:1em; }
.adv_text h1, .adv_text h2, .adv_text h3, .adv_text h4, .adv_text h5, .adv_text h6 { margin-bottom:1em; margin-top:1.3em; line-height:1.1em; }
.adv_text h1 { font-size:1.8em; font-weight:bold; }
.adv_text h2 { font-size:1.6em; font-weight:bold; }
.adv_text h3 { font-size:1.5em; font-style:italic; }
.adv_text h4 { font-size:1.4em; font-weight:bold; text-decoration:underline; }
.adv_text h5 { font-size:1.3em; font-style:italic; }
.adv_text h6 { font-size:1.2em; text-decoration:underline; font-weight:normal; }
.adv_text figure { margin:1em 0; }
.adv_text .videoWrapper { margin:10px 0; }
.adv_text figcaption { display:block; margin:0 10px; }
.adv_text figcaption p { margin:0; }
.adv_text figcaption p.credit { text-align:right; font-size:0.9em; font-style:italic; }
.adv_text table th { padding:5px; text-align:center; font-weight:bold; }
.adv_text table td { padding:5px; vertical-align:top; }
.adv_text table { display:table; border-collapse:collapse; }
.adv_text table.border, .adv_text table.border th, .adv_text table.border td, .adv_text table.border .thead > * > *, .adv_text table.border .tbody > * > *, .adv_text table.border .tfoot > * > * { border:1px solid #DDD; vertical-align:middle; }
.adv_text table.alternate tbody tr:nth-child(2n) td, .adv_text table.alternate .tbody > *:nth-child(2n) > * { background-color:#F6F6F6; }
.adv_text table.wide { width:100%; }
.adv_text table.fixed { table-layout:fixed; }

.adv_text picture { display:block; width:100%; }
.adv_text figure.quote { background-color:#F5F5F5; border-radius:5px; padding:10px; font-style:italic; color:#000; }
.adv_text figure blockquote { border-bottom:1px solid #666; margin:0 0 10px 0; padding:0 0 10px 0; }
.adv_text figure.quote figcaption { text-align:left; font-weight:bold; }
.adv_text figure.quote figcaption:before { content:'-'; }
.adv_text .notification .content { white-space:normal; }
.adv_text .notification .content p { margin:5px; }


/* */
.front_banner { display:block; width:100%; }
.front_banner img { max-width:100%; display:block; }