/* =) */
:root {
	color-scheme: light;

	--color-main-00-norm-n:#FDFDFD;
	--color-main-00-cont-n:#111;

	--color-main-01-norm-n:#EEE;
	--color-main-01-comp-n:#333;
	--color-main-01-norm-h:#DDD;
	--color-main-01-comp-h:#111;

	--color-main-02-norm-n:#EEE;
	--color-main-02-comp-n:#222;
	--color-main-02-norm-d:color-mix(in srgb, var(--color-main-02-norm-n) 90%, black);
	--color-main-02-norm-l:color-mix(in srgb, var(--color-main-02-norm-n) 90%, white);

	--color-main-03-norm-n:#2D7DD2;
	--color-main-03-comp-n:#EEE;

	--color-main-04-norm-n:#474647;
	--color-main-04-comp-n:#EEE;

	--color-main-05-norm-n:#DFDFDF;
	--color-main-05-comp-n:#222;
	--color-main-05-norm-l:#D0D0D0;
	--color-main-05-comp-l:#000;
	--color-main-05-norm-h:#EEE;
	--color-main-05-comp-h:#333;

	--color-main-06-norm-n:#f6b239;
	--color-main-06-comp-n:#222;

	--color-main-06-norm-n:#11933f;
	--color-main-06-comp-n:#222;

	--color-link-n:#039;
	--color-link-d:#06F;
	--color-link-h:#0099FF;

	--color-accent:#0fbcc7;
}

@supports (font-variation-settings: normal) {
	.super-bold {
		font-weight: 1000;
	}
}


/* General content reset */
body { font-family:'Arial',sans-serif; text-align:justify; font-size:1.6rem;}
input, select {}
h1, h2, h3, h4, h5, h6 { font-size:2rem; color:#343434; text-align:left; font-weight:normal; }
h1 { font-weight:bolder; margin-bottom:15px; }
h2 { font-weight:bold; margin-bottom:10px; }
h3 { font-style:italic; font-weight:bold; margin-bottom:5px; }
h4 { text-decoration:underline; margin-bottom:5px; }
h5 { margin-bottom:5px; }
p { padding:0; margin:0 0 10px; }
a { text-decoration:none; color:#039; cursor:pointer; }
a:link { color:#009; }
a:hover { color:#007; }

/*
===============
Structure
===============
*/


/*<editor-fold desc="Template Core">*/

#se_main {
	--mobile-nav-size:50px;

	min-height:100vh;
	display: flex;
	flex-direction: column;

	& > header {
		background-color:var(--color-main-02-norm-n);
		color:var(--color-main-02-comp-n);
	}

	& > main {
		flex:1;
	}

	& > footer {
		background-color:var(--color-main-03-norm-n);
		color:var(--color-main-03-comp-n);
		padding:2rem 0;
	}

	& > footer .gr_content {
		display:flex;
		justify-content: space-between;
		gap:2rem;
	}

	@media ( width < 768px ) {
		& { padding-top: var(--mobile-nav-size); }
	}
}

.site_nav_desktop {
	background-color: var(--color-main-02-norm-n);
	color: var(--color-main-02-comp-n);

	border-bottom:2px solid var(--color-main-06-norm-n);

	/* Children */
	& .main_menu { display:flex; flex-direction:row; gap:1rem; justify-content: space-between; }
	& .logo_link {display:flex;justify-content: center;align-items: center;}
	& .logo_link svg {max-height: 50px;aspect-ratio: 1;margin-right: 1em;}
	& .logo_main { display:block; height:40px; }

	/* Navigation elements */
	& nav { display:flex; flex-direction:row; justify-content:flex-start; font-family:"Montserrat", sans-serif; }
	& nav a.main { display:block; color:var(--color-main-02-comp-n); box-sizing:border-box; margin:0; padding:15px 10px; letter-spacing:2px; font-size:1.5rem; text-transform:uppercase; }
	& nav a.main:hover { background-color:var(--color-main-02-norm-d); }
	& nav a.main:active { }
	& nav a.main.sel { border-bottom:3px solid #FFF; }

	@media ( width < 768px ) {
		& { display:none !important; }
	}
}

.site_nav_mobile {
	display:flex;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	flex-direction:column;
	z-index:1000;

	--color-nav-top-bkg: var(--color-main-02-norm-n);
	--color-nav-top-txt: var(--color-main-02-comp-n);
	--color-nav-top-bkg-hover: var(--color-main-02-norm-l);
	--color-nav-bkg: #333333AA;
	--color-nav-menu-bkg: var(--color-main-01-norm-n);
	--color-nav-menu-txt: var(--color-main-01-comp-n);
	--color-nav-menu-lines: var(--color-main-02-norm-n);

	&.full {
		height:100vh; display:flex; 
	}

	.bar {
		display:flex;
		justify-content:space-between;

		height:var(--mobile-nav-size);

		background-color:var(--color-main-02-norm-n);
		color:var(--color-main-02-comp-n);
	}

	.bar .logo_mobile { display:inline-flex; justify-content:center; align-items:center; padding:5px 0; }
	.bar .logo_mobile img { height:100%; }
	.bar > button {
		display:inline-flex;
		justify-content:center;
		align-items:center;

		width:50px;
		height:50px;

		cursor: pointer;
		font-size:1.6rem;
	}
	.bar > button:hover {
		background-color:var(--color-main-01-norm-n);
	}

	.floatingMenu {
		background-color:var(--color-main-01-norm-n);
		color:var(--color-main-01-comp-n);
	}

	@media ( width > 767px ) {
		& { display:none; }
	}
}


/* POPOVER */
.floatingMenu {
	--menuWidth:75vw;

	display: block;

	top:var(--mobile-nav-size);
  
	/*  undo popover styles  */
	border: none;
	padding: 0;
	margin: 0;
	bottom: 0;
	left: unset;
	right: unset;

	width: var(--menuWidth);
	height: calc(100vh - var(--mobile-nav-size));

	/*  animate  */
	transition:
		translate 0.3s ease-out,
		display 0.3s ease-out allow-discrete,
		overlay 0.3s ease-out allow-discrete;

	&::backdrop {
		opacity: 0;
		background: rgba(0, 0, 0, 0.5);
		transition: opacity 0.3s;
	}

	&.left {
		left:0;
		background-color: rgb(0, 117, 153);
		translate: -100% 0;
	}

	&.right {
		right:0;
		background-color: rgb(115, 153, 0);
		translate: 100% 0;
	}

	& a {
		display:block;
		padding:1rem;
		font-weight: bold;
	}

	& a + a { border-top: 1px solid #000; }
  
	&:popover-open {
		translate: 0 0;

		&::backdrop {
			opacity: 1;
		}

		@starting-style {
			&::backdrop {
				opacity: 0;
			}
		}
	}
}


  
/*<editor-fold desc="Mobile menu">*/
/* */
site-mobile-nav {
	--_mobile-nav-size:var(--mobile-nav-size, 50px);
	--_mobile-menu-width:75vw;

	/**/
	--_mobile-menu-direction:-100%;
	--_mobile-menu-animation-time:0.3s;

	/**/
	& > button {
		position:absolute;
		display:inline-flex;
		justify-content:center;
		align-items:center;
		width:50px;
		height:var(--_mobile-nav-size);
		top:0;
		left:0;
		transition:background-color var(--_mobile-menu-animation-time);
	}
	& > button:hover { background-color:var(--color-main-02-norm-l); }

	& .navigation {
		display: block;
		position:absolute;
		top:var(--_mobile-nav-size);
		left:0;
		width:var(--_mobile-menu-width);
		z-index:5;
		height:calc(100vh - var(--_mobile-nav-size));
		background-color:var(--color-nav-menu-bkg);
		color:var(--color-nav-menu-txt);
		translate:var(--_mobile-menu-direction) 0;
		transition:translate var(--_mobile-menu-animation-time) ease-in-out;
	}

	& .background {
		display:none;
		position:absolute;
		opacity:0;
		top:0;
		left:0;
		z-index:-1;
		width:100vw;
		height:100vh;
		background-color:var(--color-nav-bkg);
		transition:
			opacity var(--_mobile-menu-animation-time),
			display var(--_mobile-menu-animation-time);
		transition-behavior: allow-discrete;
	}

	/* Movement */
	&.right { --_mobile-menu-direction:100%; }
	&.right button { left:auto; right:0; }
	&.right .navigation { right:0; left:auto; }

	/* Open menu */
	&[data-state="open"] {
		& > button { background-color:var(--color-main-02-norm-d); }
		& .navigation { translate:0 0; }
		& .background { display:block; opacity:1 }
	}

	/* */
	& .mainMenu a { display:block; padding:15px 20px; color:inherit; font-size:1.6rem; }
	& .mainMenu a + a { border-top:1px solid var(--color-nav-menu-lines); }
	& .mainMenu { margin-bottom:10px; }
}

.footer-links {
	display:flex;
	gap:1em;
	flex-direction:row;

	& a { color:#FFF; }
}

/*</editor-fold>*/