/*
/* Sección de búsqueda */
.postMini {}
.postMini + .postMini { padding-top:20px; margin-top:20px; border-top:1px solid #CCC; }
.postMini a { box-sizing:border-box; }
.postMini .body { display:flex; overflow:auto; }
.postMini .imgCont { display:block; position:relative; overflow:hidden; width:320px; margin-right:20px; border:1px solid #DDD; background:#EEE; }
.postMini .imgCont:after { padding-top:56.25%; display:block; content:''; }
.postMini .imgCont img { position:absolute; top:0; left:0; width:100%; height:100%; object-fit:cover; }
.postMini img[src=""] { display:none; }
.postMini .contentSmall { flex:1; }
.postMini a.category { display:block; font-size:1.3rem; font-weight:bold; color:var(--color-main-04-norm-n); margin-bottom:10px; }
.postMini a.title { display:block; font-weight:bold; font-size:2.1rem; text-align:left; color:#000; margin-bottom:10px; }
.postMini .desc { margin-bottom:10px; }
.postMini .info { color:#777; font-size:1.2rem; }
/* */
.postMini.status1 { border-right:5px solid #51cc3f; }
.postMini.status2 { border-right:5px solid #cc6773; }
/*
Otros Dispositivos
---------------------------------------->*/
@media only screen and (max-width:630px) {
	.postMini .imgCont { width:200px; }
}
@media only screen and (max-width:480px) {
	.postMini .body { display:block; width:100%; }
	.postMini .mainImg { display:block; margin:0 auto 20px; }
	.postMini .imgCont { display:block; width:100%; float:none; margin-right:0; margin-bottom:10px; }
}
