/*  */
a.postLink2 { display:block; color:inherit; }
a.postLink2 + a.postLink2 { margin-top:10px; }
a.postLink2 .imgCont { display:block; overflow:hidden; margin-bottom:5px; border-radius:2px; }
a.postLink2 .imgCont img { display:block; width:100%; height:100%; aspect-ratio:16 / 9; object-fit:cover; background:#EEE; }
a.postLink2 .pl_title { font-size:1.3rem; font-weight:bold; }
a.postLink2 .pl_data { font-size:1.3rem; }
a.postLink2:hover { background-color:#F5F5F5; }
a.postLink2:hover img { filter:blur(2px); }


.searchElement {
    display: flex;
    border: 1px solid  #666;
    border-radius: 4px;
    padding:0;


    input {
        border: 0;
        padding: 0.2em;
        flex: 1;
        border-radius: 4px 0 0 4px;
    }
    span {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:#CCC;
        color:#000;
        border-left: 1px solid #666;
        height: 100%;
        width: 20px;
        aspect-ratio: 1;
        border-radius: 0 4px 4px 0;
    }
}