/*
BLOG
---------------------------------------->*/
.post { margin-bottom:20px; clear:both; display:block; overflow:visible; }
.post a.category { font-size:1.4rem; text-align:center; color:var(--color-main-01-norm-n); font-weight:bold; }
.post a.category:hover { text-decoration:underline; }
.post article h1.title { margin-bottom:20px; font-size:3.1rem; text-align:center; }
.post .info { margin-bottom:10px; color:#999999; text-align:center; display:flex; justify-content:space-between; }
.post  article > .content { margin-bottom:20px; font-size:1.8rem; line-height:170%; }
.post img { max-width:100%; }
.post .mediaContainer { position:relative; margin-bottom:20px; }
.post .mediaContainer img { display:block; margin:0 auto; width:100%; height:100%; }
.post .mediaContainer iframe, .post .mediaContainer object, .post .mediaContainer embed { width:100%; border:0; padding:0; margin:0; aspect-ratio:16 / 9; }
.post .endContent { display:flex; border-top:1px solid #CCC; border-bottom:1px solid #CCC; margin-bottom:20px; overflow:visible; gap:20px }
.post .endContent > * { flex:1; padding:10px; border-left:1px solid #CCC; text-align:center; }
.post .endContent > *:first-child { border-left:0; }
.post .postLike { }
.post .likeBtn { border-radius:5px; padding:10px; background-color:#F5F5F5; }

/* Modo celular */
@media only screen and (max-width:767px) {
	.post  article > .content { font-size:1.6rem; line-height:150%; }
	.post .mediaContainer { width:100vw; position:relative; left:calc(-50vw + 50%); }
	.post .mediaContainer img, .post .mediaContainer iframe, .post .mediaContainer object, .post .mediaContainer embed { width:100vw; }
}

/* Modo tablet */
@media only screen and (min-width:768px) and (max-width:1024px) {
	.post  article > .content { font-size:1.7rem; }
}


#postLike { display:inline-block; margin-right:10px; }
/* Datos usuario */
.blog_user { display:block; border:1px solid #AAA; background-color:#FAFAFA; margin-bottom:20px; padding:10px; overflow:auto; }
.blog_user .userImg { display:block; float:left; width:75px; height:75px; border-radius:50%; background-color:#DDD; margin-right:10px; }
.blog_user .uData { display:flex; flex-direction:column; height:100%; }
.blog_user .uData .title { font-weight:bold; margin-bottom:10px; }
.blog_user .uData .desc { flex:1; margin-bottom:10px; }
.blog_user .uData .socnet a { color:#555; padding:3px; border-radius:3px; background-color:#eee; width:24px; height:24px; display:inline-block; text-align:center; margin-right:5px; }
